# Ignore node_modules directory
node_modules

# Ignore npm debug log files
npm-debug.log

# Ignore Dockerfile itself (if you don't need it in the image)
Dockerfile

# Ignore Docker Compose files (optional)
docker-compose*.yml

# Ignore Git files and folders
.git
.gitignore

# Ignore any log files
*.log

# Ignore environment files (like .env if used in your project)
.env
